h1 {
    color: rebeccapurple;
    margin-bottom: 0;
}

em {
    color: cornflowerblue;
}

#client label {
    padding-left: 65px;
    padding-bottom: 70px;
}

#books label#bookchild {
    padding-left: 65px;
}

#books input#quantity {
    width: 250px;
}

#books label#quantitychild {
    padding-left: 10px;
}

#submit {
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

fieldset#client,
fieldset#books {
    width: 45%;
}