h1{
    color: rebeccapurple;
    margin-bottom: 0;
}

em{
    color: cornflowerblue;
}

#client{    
    padding-bottom: 15px;
    padding-left: 10px;
    }

.forms{
    border: 2px solid gray;
margin-top: 15px;
    width: 700px;
}

#books{    
    padding-left: 10px;
    padding-bottom: 40px;
}

.titleforms{      
    padding-left: 2px;
    margin-top:-10px;
    margin-left:10px;
    background-color: white;  
    width:45px;
}

div#client>p{
    width: 93px;    
    padding-right: 1px;
    text-align: center;
    margin-right: 0; 
    }
div#client label{
    padding-left: 65px;
    padding-bottom: 70px;
}

div#books label#bookchild{
    padding-left: 65px;    
}

input#quantity{
    width: 250px;
}

div#books label#quantitychild{
    padding-left: 10px;    
}

#submit{
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

